name: internal-test
on: [push, pull_request]

jobs:
  macOS:
    runs-on: macos-latest
    steps:
    - name: Love Test Report
      uses: ellraiser/love-test-report@v0.5
      with:
        name: Test Output
        path: output/*.xml
